.container-cart
  width 100%
  height 100%
  .header-cart
    width 100%
    height .44rem
    background-color white
    line-height .44rem
    position fixed
    top: 0
    left: 0
    z-index 11
    h3
      display inline-block
      font-size .18rem
      position absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin auto
    span
      float right
      margin-right .28rem
      font-size .15rem
      color: #b4282d

  .main-cart
    width 100%
    height 100%
    box-sizing border-box
    padding .44rem 0 0 0
    background-color #f4f4f4
    display flex
    flex-direction column
    .promise
      display flex
      justify-content space-evenly
      height .36rem
      line-height .36rem
      margin-bottom .1rem
      color #666
      font-size .12rem
      .icon-item
        display inline-block
        width .05rem
        height .05rem
        border-radius 50%
        background-color: #666
        vertical-align middle
        transform translateY(-.02rem)
    .cart
      width 100%
      height 100%

      .image
        position absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin auto
        width 1.24rem
        height 1.24rem
        img
          width 1.24rem
          height 1.24rem
        span
          color #999
          font-size .13rem
      .login
        width 2.4rem
        height .46rem
        background-color #b4282d
        color white
        line-height .46rem
        text-align  center
        border-radius 2px
        position absolute
        left: 0
        right: 0
        bottom 1.2rem
        margin 0 auto
