@import '../../assets/stylus/mixins.styl'
.header-nav
  width 100%
  overflow hidden
  .nav-list
    width 7.5rem
    .nav-item
      float: left
      padding 0 .08rem
      margin-left .2rem
      height .25rem
    .active
      color #b4282d
      position relative
      &:after
        content ''
        left 0
        bottom 0
        position absolute
        width 100%
        height .02rem
        background-color #b4282d