.count-down
  width 100%
  height 1.9rem
  background-color white
  box-sizing border-box
  padding .15rem .2rem .15rem .28rem
  display flex
  .down
    width 1.67rem
    height 1.6rem
    box-sizing border-box
    padding-top .4rem
    h3
      font-size .24rem
      margin-bottom .16rem
    span
      display inline-block
      width .31rem
      height .28rem
      line-height .28rem
      background-color: #333
      border-radius 2px
      font-size .21rem
      color white
    p
      font-size .12rem
      margin-top .2rem
  .image
    width 1.6rem
    height 1.6rem
    position relative
    img
      width 100%
      height 100%
    .price
      width .48rem
      height .48rem
      background-color: #f59524
      border-radius 50%
      position absolute
      right: .07rem
      bottom: .2rem
      span
        display block
        margin-top .07rem
        color white
      .oldPrice
        text-decoration: line-through